<div class="main-box">
  <div class="docs-box">
    <div class="docs-collection" *ngIf="true">
      <div class="add-docs">
        <button (click)="uploadDocument(uploadDocumentModal)">Upload Document</button>
      </div>
      <div *ngIf="(PDFs$ | async)" style="font-size: 20px; align-self: center;">
        Please upload some documents for list view.
      </div>
      <div class="file-details" *ngFor="let item of PDFs$ | async">
        <p>{{item.name.substr(0, 12)}}</p>
        <button (click)="openFile(item.fileURL)" style="width: 80%;">Open</button>
      </div>
    </div>
    <div class="file-url" *ngIf="false">
      <label for="url"> <b>Enter file URL:</b> </label>
      <input type="text" [(ngModel)]="fileURL" placeholder="file URL..." required>
      <button (click)="submit()">Submit</button>
    </div>
  </div>
  <iframe [src]="fileURL" frameborder="0"></iframe>
</div>

<ng-template #uploadDocumentModal id="uploadDocumentModal">
  <div class="container">
    <div class="row col-12">
      <label for="file">Choose File</label>
      <input id="file" type="file" (change)="handleFileInput($event.target.files)" accept=".pdf">
    </div>
  </div>
</ng-template>
