<div class="main-box">
  <div class="docs-box">
    <div class="docs-collection">
      <div class="add-docs">
        <button>Upload Document</button>
      </div>
      <div class="file-details"  *ngFor="let item of items; let i = index">
        Working {{i + 1}}
        <p>File name</p>
        <button (click)="openFile(i)" style="width: 80%;">Open</button>
      </div>
    </div>
  </div>
  <div class="docs-view">
    <iframe
      src="https://docs.google.com/spreadsheets/d/1vBprAmEDKNUvBxV_Rj5WULpZ5hk6fKNgDqljOE-QL8U/edit#gid=0"
      frameborder="1"
      width="1120vw"
      height="580"
    ></iframe>
  </div>
</div>